* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

header h2 {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
}

#app {
  display: flex;
  justify-content: center;
}

.container {
  justify-content: center;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.container input {
  flex-grow: 1;
  font-size: 1.4rem;
  margin: 0 0 15px;
}

#criar-carta {
  width: 70px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.small {
  font-size: 1rem;
}

.medium {
  font-size: 1.2rem;
}

.big {
  font-size: 1.3rem;
}

.red {
  background-color: red;
  color: black;
}

.green {
  background-color: green;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.pink {
  background-color: palevioletred;
  color: white;
}

#carta-gerada {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

#carta-gerada span {
  padding: 3px 4px;
}
